@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

:root {
  --color-primary: #810000;
  --color-secondary: #e97171;
  --color-tertiary: #ffcb8e;
  --color-white: #eee;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to bottom, var(--color-primary), #81000e);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  padding: 0;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5)
    ),
    url('./pexels-photo-212236.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 300px;
  border-bottom: 1rem solid rgba(255, 203, 142, 0.5);
  margin-bottom: 2rem;
  box-shadow: 0.4rem 0.4rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

.main-image {
  height: 10rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1 {
  font-size: 3rem;
  margin: 1rem;
  font-weight: 700;
}

.category {
  margin-bottom: 1.5rem;
}

.category__header {
  font-size: 2rem;
  padding: 0.5rem 1rem 0.5rem;
}
.category__item {
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
  outline: none;
  border: 2px solid var(--color-white);
  cursor: pointer;
  background: linear-gradient(
    to right,
    var(--color-tertiary),
    var(--color-secondary)
  );
  color: #501b1d;
  transition: 1s all;
  font-size: 1.4rem;
}

.category__item.active {
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-tertiary),
    var(--color-secondary)
  );
  color: var(--color-primary);
  transform: scale(1.2);
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
  border: 3px solid rgba(0, 0, 0, 0.8);
}

.category__set {
  padding: 0.5rem;
}
.details {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
}

.card {
  background: linear-gradient(to bottom, #d4d3dd, var(--color-white));
  color: #501b1d;
  border-radius: 5px;
  border: 5px solid rgba(255, 203, 142, 1);
  max-width: 200px;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  position: relative;
  padding: 85px 20px 10px 20px;
  margin-top: 75px;
  min-height: 250px;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
}
.card * {
  color: #501b1d;
}
.card__img {
  /* border-radius: 50%; */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.card__img img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  border: 2px solid rgba(255, 203, 142, 0.7);
  z-index: 1;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}
.card__name {
  font-size: 1.3rem;
}

.card__colors {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.card__color {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: aqua;
  margin: 3px;
}
.card__color-container {
  display: flex;
  flex-wrap: wrap;
}
